body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    width:350px;
    text-align:center;
}

input,button{
    width:100%;
    padding:12px;
    margin-top:15px;
    font-size:16px;
}

button{
    cursor:pointer;
}

h2{
    margin-top:25px;
}